<style type="text/css">
    body{
        background-color: #002B36;
        padding:0px; 
        margin:0px;
        font-size: 12px;
        font-family: Microsoft YaHei;
    }
    #container{
        margin: 0px;
        width: 100%;

        text-align: left;
        background-color: #002B36;
    }

    #globallink{
        margin: 0px auto;
        padding: 0px;
        background-color: #149d76;
        height: 52px;
        width: 100%;


    }
    #globallink ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;

    }
    #globallink ul li{
        float: left;
        text-align: center;
        width: 10%;
        top: 0px;

    }
    #globallink ul li a{
        display: block;
        padding: 10px 10px 10px 10px;
        margin: 0px;
        background-color: #149d76;
        font-size: 18px;
        height: 30px;
    }
    #globallink ul li a:link,#globallink ul li a:visited{
        color: #fff;
        text-decoration: none;
    }
    #globallink ul li a:hover{
        color: #ec4149;
    }



    #left{
        margin: 0px;
        padding: 0px;
        background-color: #002B36;
        width: 10%;
        height: 500px;
        color: blue;
        position: fixed;


    }
    #menu ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;

    }
    #menu ul li{

        text-align: left;
        margin: 0px;
        padding: 0px;
        height: 40px;
    }

    #menu ul li a{
        display: block;
        padding: 11px 5px 12px 20px;
        margin: 0px;
        background: url('http://i.imgur.com/MoG5e8h.png');
        font-size: 12px;
    }
    #menu ul li a:link,#menu ul li a:visited{
        color: #fff;
        text-decoration: none;
    }
    #menu ul li a:hover{
        color: #ec4149;
        background: url('http://i.imgur.com/nxLbt90.png');
    }




    #right{
        margin: 0px;
        padding: 0px;
        background-color: #002B36;
        width: 81%;
        font-family: STFangsong;
        color: yellow;
        float: right;
    }
    #zhushi p{ 

    }
    #footer{
        position:fixed; 
        text-align:right; 
        bottom:0px; 
        margin-left:-25px; 
        height:30px; 
        width:100%;
        color: red;
    }
    #footer a:link, #footer a:visited{
        color: red;
    }
    #footer a:hover{
        color: #fff;
        background: url('http://i.imgur.com/JidMDHl.png');
    }

</style>
